.edit-profile__form {
  label {
    font-size: 14px;
    margin-bottom: 15px;
  }
}

.edit-profile__password {
  margin-top: 50px;
  text-align: center;
  a {
    color: #3b82f6;
    text-decoration: underline;
  }
}
