.empty__message {
  margin-bottom: 50px;
  font-size: 18px;
}
// home, search, profile.pug
.video-grid {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
// login, join.pug
.auth-switch {
  margin-top: 40px;
  text-align: center;
  a {
    color: #3b82f6;
    text-decoration: underline;
  }
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
